.container {
    background: #0e091a;
    min-height: 100vh;
    padding: 64px 64px 156px;
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.heading {
    margin-bottom: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}